.container {
    margin: 0 auto;
    padding: 0 15px;
    
    @media(min-width: $breakpoint-sm) {
            width: 540px;
    }
    
    @media(min-width: $breakpoint-md) {
            width: 720px;
    }
    
    @media(min-width: $breakpoint-lg) {
            width: 960px;
    }
    
    @media(min-width: $breakpoint-xlg) {
            width: 1140px;
    }

}
