.rodape {
    color: white;
}

.rodape__linha-1{
    overflow: auto;
    background-image: url(../img/cabecalho-home-bg-md.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color: #303030;
    padding: 15px;
}

.rodape__linha-2{
    background-color: black;
    text-align: center;
    padding: 15px;
}

.rodape__coluna {
    margin-top: 40px;
    margin-bottom: 40px;
}

.rodape__lista {
    list-style: none;
    margin-left: -42px;
}

.rodape__titulo {
    border-bottom: 1px solid white;
    padding: 0 10px 10px 0;
    font-size: 18px;
}

.rodape__item {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

.rodape__item::before {
    content: '>';
    color: $cor-principal;
    margin-right: 8px;
}

@media(min-width: $breakpoint-md) {
    .rodape__coluna {
        float: left;
        width: 33.33333%;
        padding: 0 15px;
    }   
}