.formulario {
    background-color: #efecec;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    box-shadow: 0 0 5px rgb(71, 70, 70);
    
    &__grupo {
        margin-bottom: 15px;
    }
    
    &__campo {
        width: 100%;
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        padding: 5px;
    }
    
    &__botao {
        display: block;
        margin: 0 auto;
        border: 3px solid $cor-principal;
        padding: 5px 20px;
        border-radius: 300px;
        background-color: white;
        color: $cor-principal;
        cursor: pointer;
        font-weight: bold;
    }
}


label {
    color: #343434;
}