.menu-principal {
    
    @media(max-width: $breakpoint-md) {
        &--fechar {
            transition: all 1s;

            .menu-principal__btn{
                background-position: 5px 5px;
            }

            .menu-principal__lista {
                margin: 0;
            }

            .menu-principal__item {
                transition: all 200ms ease-out;
                margin: 0;
                height: 0;
                overflow: hidden;
            }

        }
    }
}

.menu-principal__btn {
    background-image: url('../img/menuprincipal-btn-bg.png');
    background-repeat: no-repeat;
    background-position: -48px 7px;
    display: block;
    height: 50px;
    width: 50px;
    text-indent: -9999px;
    background-color: white;
    border-color: #c4c4c4;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;

    position: absolute;
    top: 15px;
    right: 15px;

    @media(min-width: $breakpoint-md - 1) {
        display: none;
    }
    
}


.menu-principal__lista {
    padding: 0px;
    list-style: none;
    transition: margin 200ms ease-out;
    
    @media(min-width: $breakpoint-md){
        li {
            display: inline-block;
            margin: 0 10px;
        }
    }
    
}

.menu-principal__item {
    display: block;
    text-decoration: none;
    font-weight: bold;
    height: 20px;
    font-size: 18px;
    color: #343434;
    
    &--atual {
        color: $cor-principal;
    }
    
}

