.servico {
    text-align: center;
    padding: 0 15px;
    margin-bottom: 50px;
    
    @media(min-width: $breakpoint-md) {
        float: left;
        width: 33.33%
    }
}

#servicos {
    padding: 30px 0;
    overflow: auto;
}

.servicos__texto {
    color: #585858;
}