.cabecalho {
    background: white;
    padding: 15px;
    position: fixed;
    width: 100%;

    @media(min-width: $breakpoint-md) {
        min-width: 100px;
        .logo {
            float: left;
            margin-top: 10px;
        }
    
        .menu-principal {
            float: right;
            margin-top: 11px;

            &__lista{
                margin-bottom: 0;
            }
        }
    }

}