.logo {
    background-image: url('../img/logotipo-preto.png');
    background-repeat: no-repeat;
    display: block;
    width: 120px;
    height: 53px;
    text-indent: -9999px;
    margin: 0;
    margin-right: 50px;
    
    &--branco{
        background-image: url('../img/logotipo-branco.png');
        margin-bottom: 20px;
    }

    // float: left;
    
}
